@import url('https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
}

.nav-items img,
h1,
form,
span,
.mini-panel,
.search-bar,
#logo {
    display: flex;
    align-items: center;
    justify-content: start;
}

.nav-items img {
    margin-right: 1.5rem;
}

.search-bar {
    background: #f8f8f8;
    padding: 5px 10px;
    min-width: 600px;
    border-radius: 25px;
}

.search-bar form input {
    min-width: 600px;
    background: transparent !important;
    border: none;
}

.notification {
    padding: 5px 10px;
    border-radius: 10px;
    max-width: 10px;
}

.container {
    align-self: start;
}

.color-yellow {
    background: #ffd644;
}

.color-yellow:hover {
    background: #fccb1d;
}

.text-orange {
    color: #fe6f36;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff7eb;
    padding: 2rem;
    border-radius: 25px;
}

.banner .link {
    align-self: flex-end;
}

.banner h2 {
    font-size: 2em;
    font-weight: 500;
}

.text-muted {
    color: #555555;
}

.side-bar {
    background: #f8f8f8;
    min-width: 350px;
    align-self: start;
    padding: 20px;
    border-radius: 30px;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.blur {
    filter: blur(1.5rem);
}

.op-100 {
    opacity: 100% !important;
}

.color-white {
    background: #ffffff;
}

.text-white {
    color: #ffffff;
}

.color-girl {
    background: #5539a3;
}

.text-yellow {
    color: #ffd644;
}

a {
    text-decoration: none;
}

.delivery {
    padding: 1.5rem;
    font-size: 0.9em;
    border-radius: 15px;
    ;
}

.text-bold {
    font-weight: 600;
}

.delivery-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0px;
}

.img-delivery {
    max-width: 80px;
    border-radius: 10px;
}

.price {
    margin-top: 4rem;
}

.choose {
    border: 1px solid #a7a7a7;
    padding: 2px 8px;
    font-size: 1.2rem;
    background: transparent;
    margin: 3px;
}

.choose-min {
    border-radius: 11px 0px 0px 11px;
}

.choose-max {
    border-radius: 0px 11px 11px 0px;
}

.checkout {
    border: none;
    padding: 20px;
    padding-right: 40px;
    font-size: 1.2rem;
    background: #ffd644;
    margin: 0px;
    border-radius: 11px 0px 0px 11px;
}

button:hover {
    opacity: 80%;
}

.btn-drop {
    color: #ffffff;
    background-color: #ff6223;
    border: none;
    border-radius: 20px;
    font-weight: 500;
    padding: 10px 30px;
}

.header-categories {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.categories {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    width: 90%;
    margin: 30px auto;
    text-align: center;
}

.categories-item {
    text-align: center;
    min-height: 90px;
    min-width: 70px;
    border-radius: 40px;
    padding: 8px 0px;
    margin: 0px 15px;
    transition: .5s;
}

.categories-item:hover {
    background-color: #fccb1d;
    transition: .5s;
}

.categories-item-icon {
    padding: 10px;
    background-color: white;
    width: 40px;
    height: 50px;
    border-radius: 45%;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center
}

.img_icon {
    width: 95%;
    height: 95%;
}

.categories-item-content {
    font-size: 12px;
}

.contenedor {
    width: auto;
    display: flex;
    justify-content: space-between;
}

.prot {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px 10px 0px;
}

.products {
    /* width: 45%; */
    justify-content: space-between;
    margin: 0 10px 10px 0px;
}

.products-item {
    font-weight: 400;
    width: min-content;
    min-width: 300px;
    min-height: 200px;
    border-radius: 30px;
    margin: 0 10px 10px 0px;
    position: relative;
}

.img-product {
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 98%;
    height: 150px;
    border-radius: 20px;
    margin: 0 10px 10px 0px;
}

#bagel-story {
    background-image: url('../images/pexels-photo-376464.jpeg');
}

#the-estaminet {
    background-image: url('../images/pexels-photo-461198.jpeg');
}

#le-paris-dakar {
    background-image: url('../images/pexels-photo-1600711.jpeg');
}

.iconss {
    width: 15px;
}

.duration-product {
    background: #ffffff;
    max-height: 30px;
    padding: 5px 10px;
    border-radius: 0px 10px 0px 0px;
    position: absolute;
    top: 115px;
}

.content-product {
    display: flex;
    align-self: center;
    justify-content: start;
    font-size: smaller;
}

.product-description {
    color: #555555;
}

.products-item h3 {
    margin-top: 10px;
    font-weight: 500;
}

footer {
    background: #f8f8f8;
    padding: 20px;
    text-align: center;
}